<table>
	<tr>
		<td>
			<div id="app-detail-printout"></div>
		</td>
		<td>
			<div id="app-detail-printout2"></div>
		</td>
	</tr>
	<tr>
		<td>
			<iframe id="app-loader" src="" height="250px" width="400px"></iframe>
		</td>
		<td>
			<iframe id="app-loader2" src="" height="250px" width="400px"></iframe>
		</td>
	</tr>
	<tr>
		<td>
			<div id="app-detail-printout3"></div>
		</td>
		<td>
			<div id="app-detail-printout4"></div>
		</td>
	</tr>
	<tr>
		<td>
			<iframe id="app-loader3" src="" height="250px" width="400px"></iframe>
		</td>
		<td>
			<iframe id="app-loader4" src="" height="250px" width="400px"></iframe>
		</td>
	</tr>
</table>
